    @font-face {
    font-family: genshin;
    src: url(fonts/zh-cn.ttf);
}

/*---------------*/

*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}

/*----------------body------------------*/

body {
    max-width: 100%;
    background-image: url(img/background\ pic.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}



.wrapper {
    max-width: 100%;
    min-height: 100%;  
    overflow: hidden;
    display: flex;
    flex-direction: column;  
    background: rgba(0, 0, 0, 0.3);
}

/*-------------header-------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 20;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 70px;
}

.header__logo img {
    margin: 20px 0px 20px 50px;
    max-width: 70px;
    max-height: 70px;
    background: none;
    transition: 0.5s;
    flex: 1;
}

.header__logo img:hover {
    filter: drop-shadow(10px 0px 0px  #1b1b17);
}

.header__menu {
    flex: 2;
    margin: 0 0 0 90px;
}

.menu__list {
    flex-wrap: wrap;
    display: flex;
    font-size: 20px;
    text-transform: uppercase;
    font-family: genshin;
    letter-spacing: 0.5px linear;
}
.menu__item:not(:last-child) {
    margin: 0 60px 0 0;
}
.menu__link {
    color: #ffffff;
    transition: 0.5s;
    position: relative;
    line-height: 1.3;
    text-decoration: none;
}

.menu__link:after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: #ffffff;
    content: '';
    transition: width 0.3s ease-out;
}

.menu__link:hover:after,
.menu__link:focus:after {
    width: 100%;
}

.header__login {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__login__text {
    font-size: 20px;
    font-family: genshin;
    color: #ffffff;  
    position: relative;
    margin: 0 30px 0 0;
    align-items: flex-end;
    text-transform: uppercase;
    
}
/*----------main page content-----------*/

.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.page__main-block { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 300px 0 0 0;
}

.main-block__container {
    flex: 1;
    margin-left: 100px;
    min-width: 500px;
}

.main-block__title {
    text-shadow: -3px 4px 4px #1b1b17;
    position: relative;
    font-size: 60px;
    font-family: genshin;
    color: #eadcd0;
}
.main-block__text {
    position: relative;
    text-shadow: -3px 4px 4px #1b1b17;
    font-size: 30px;
    font-family: genshin;
    color: #f0e288;
    padding-top: 15px;
    line-height: 110%;
}

/*-------- social media -----*/

.social {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    max-width: 400px;
}
.social__logo i {
    opacity: 0.75;
    transition: 0.3s;
    color: white;
}

.social__logo i:hover {
    transform: scale(1.15);
} 

/*-------daily pics--------*/

.picks__daily {
    position: relative;
    margin-right: 100px;
    align-items: center;
    justify-content: center;
}

.picks__daily__text {
    text-shadow: -3px 4px 4px #1b1b17;
    position: relative;
    font-size: 30px;
    font-family: genshin;
    color: #eadcd0;
}

.picks__daily__container {
    text-align: center;
    padding-bottom: 12px;
    padding-left: 10px;
}

 /*------------------carousel-------------------*/

 .gallery__frames img {
    width: 500px;
    height: 281.25px;
    margin: 12px auto;
    text-align: center;
    position: absolute;
    margin-left: -250px;
    z-index: 3;
 }

 #gallery{
    width: 500px;
    height: 281.25px;
    margin: 12px auto;
    text-align: center;
    display: flex;
}

#gallery .carusel__photos img{
    display: flex;
    width: 500px;
    height: 281.25px;
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}

#gallery .carusel__photos img:first-child{
    display: flex;
    opacity: 1;
}

.buttons {
    display: flex;
    margin-top: 20px;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-left: -43px;
}      

.buttons img {
    width: 33px;
    filter: drop-shadow(0px 0px 10px  #000000);
}

button {
    background: none;
}

.prev {
    margin-right: 520px;  
    transition: 0.3s;
}

.prev:hover {
    transform: scale(0.93);
}

.next {
    transition: 0.3s;
}

.next:hover {
    transform: scale(0.93);
}

@media (max-width: 1257px) {
    .page__main-block { 
        display: block;
    }
    .picks__daily {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    .main-block__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
    }
    .page__main-block { 
        margin-top: 200px;
        display: block;
    }
    .social {
        display: block;
    }
    .social__logo {
       padding: 5px;
    }
    .main-block__text {
        text-align: center;
    }
    .wrapper {
        background: rgba(0, 0, 0, 0.5);
    }
}

@media (max-width: 900px) {
    .menu__list {
        max-width: 400px;
        margin: auto;
        font-size: 16px;
    }
    .menu__link:after {
        display: none;
    }
    .menu__item:not(:last-child){
        margin: 0 30px 0 0;
    }
    .header__login__text{
        font-size: 16px;
    }
    .header__menu {
        margin: 0 30px 0 30px;
    }
    .header__logo img {
        margin: 20px 0px 20px 50px;
        max-width: 50px;
        max-height: 50px;
    }
}

@media (max-width: 640px) {
    .main-block__title {
        font-size: 30px;
    }
    .main-block__text {
        font-size: 20px;
    }
    .social__logo i {
        font-size: 30px;
        padding: 2px;
    }
    .social__logo {
        padding: 2px;
    }

    .header__logo img{
        margin: 20px;
    }
    .picks__daily__text{
        font-size: 16px;
    }
    .gallery__frames img {
        width: 230px;
        height: 129.38px;
        margin: 12px auto;
        text-align: center;
        position: absolute;
        margin-left: -115px;
        z-index: 3;
     }
    
     #gallery{
        width: 230px;
        height: 129.38px;
        margin: 12px auto;
        text-align: center;
        display: flex;
    }
    
    #gallery .carusel__photos img{
        display: flex;
        width: 230px;
        height: 129.38px;
        position: absolute;
        opacity: 0;
        transition: 0.4s;
    }
    .main-block__container {
        flex: 1;
        margin: 10px;
        position: relative;
        min-width: 300px;
    }
    .buttons {
        display: flex;
        margin-top: 20px;
        position: relative;
        margin: auto;
        align-items: center;
        justify-content: center;
        z-index: 5;
        margin-left: -25px;
    }      
    .picks__daily {
        margin-top: 50px
    }
    
    .buttons img {
        width: 20px;
        filter: drop-shadow(0px 0px 10px  #000000);
    }
    .prev {
        margin-right: 240px;  
        
    }
    .menu__list {
        max-width: 400px;
        margin: auto;
        font-size: 14px;
    }
    .menu__link:after {
        display: none;
    }
    .menu__item:not(:last-child){
        margin: 0 30px 0 0;
    }
    .header__login__text{
        font-size: 14px;
        margin: 0 10px 0 0;
    }
    .header__menu {
        margin: 0 30px 0 30px;
    }
    .header__menu {
        margin: 0 10px 0 10px;
    }
}